body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #002347;
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header a:hover {
    background-color: #770101;
}

h1 {
    margin: 0;
    position: relative;
    /* right: -24px; */
}

.products, .cart {
    width: 80%;
    margin-top: 20px;
}

.product  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c7e9f3;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eab2e7;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.product-info, .cart-item-info {
    flex: 1;
}

.product img, .cart-item img {
    max-width: 150px;
    max-height: 200px;
    margin-left: 20px;
    object-fit: cover;
}

.add-to-cart, .remove-from-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover, .remove-from-cart:hover {
    background-color: #084b07;
}

.view-cart, .back-to-products {
    position: relative;
    
    right: 20px;
}

.cart-item img {
    max-width: 75px;
    max-height: 100px;
}

.cart-item h2 {
    font-size: 16px;
}

.cart-item p {
    font-size: 14px;
}

.login-container, .register-container {
    background-color: #fba6a6;
    border: 1px solid #ddd;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 384px;
    text-align: center;
}


.login-container h1, .register-container h1 {
    margin-bottom: 20px;
}

.login-container label, .register-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input, .register-container input {
    width: 96%;
    background-color: #c5ebf7;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button, .register-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 25%;
}

.login-container button:hover, .register-container button:hover {
    background-color: #0056b3;
}