body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 60px 20px;
    text-align: center;
    background-color: #e3f1ad;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff6347;
}

.form-inline {
    display: flex;
    align-items: center;
}
.bg-primary {
    background-color: #137229 !important;
    border-radius: 10px;
    /* width: 1100px; */
    align-items: center;
    margin: 10px;
}